#app{
  border-color: rgb(0, 0, 0); 
  border-width: 3px;
  border-style: solid;
  margin: 5px;
}
#dice{
  border-color: rgb(0, 0, 0); 
  border-width: 3px;
  border-style: solid;
  margin: 5px;
  height: 480px;
}

#rollHistory{
  border-color: rgb(0, 0, 0); 
  border-width: 3px;
  border-style: solid;
  margin: 5px;
  height: 480px;
  display: flex;
 
  text-overflow: ellipsis; 
  white-space: nowrap;
  flex-direction: row;
}

#display{
  border-color: rgb(0, 0, 0); 
  border-width: 3px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
}