
h1{
  text-align: center;

}

.textbox{
   text-align: center;
}

.Kaynebot{
  color: blueviolet;
  text-align: center;
}

.BadRobot{
  color: blue;
  text-align: center;

}

.GoodRobot{
  color:crimson;
  text-align: center;
}